{% extends 'layout.html' %} {% block content %}
<img class="main_banner_hero" src="../static/images/icc-worldcupbrand-banner.jpg" alt="icc-worldcupbrand-banner">
<div class="winners">
    <h1>WINNERS</h1>
    <img src="../static/images/Cricket_India_Crest.svg" alt="">
    <div class="players">
        <img class="player"  src="../static/images/hardik-pandya-t20wc22-3.png" alt="">
        <img class="player" src="../static/images/virat_kohili-removebg.png" alt="">
        <img class="player" src="../static/images/rohith_sharma.png" alt="">
        <img class="player" src="../static/images/Jasprit-Bumrah.png" alt="">
        <img class="player" src="../static/images/Suryakumar-yadhav.png" alt="">
    </div>
</div>
<div class="winners">
    <h1>Runners</h1>
    <img src="../static/images/Southafrica_cricket_logo.svg.png" alt="">
</div>
{% endblock %}
